@import "tailwindcss";

@theme {
  --color-primary-500: #61a355;
  --color-primary-600: #4d8745;
  --color-primary-700: #3c6e37;
  --color-primary-800: #2b5229;
  --color-primary-900: #1c3e1e;

  --color-background-default: #fcfcfc;
  --color-background-alt: #f4f5f2;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}


@layer base {
  body {
    @apply antialiased text-primary-900 bg-background-default;
  }
}
